{% extends 'base.html' %}
{% block body %}

    <div class="header_con">
        <div class="header">
            <div class="welcome fl">欢迎来到天天生鲜!</div>
            <div class="fr">
                {% if request.session.pid|default:'a' != 'a' %}
                    <div class="login_info fl" style="display: block">
                        欢迎您：<em>{{ request.session.uname }}</em>
                        <a href="/user/exit/" style="text-decoration:none; color:#666">&nbsp;&nbsp;退出</a>
                    </div>
                {% else %}
                    <div class="login_btn fl">
                        <a href="/user/login/">登录</a>
                        <span>|</span>
                        <a href="/user/register/">注册</a>
                    </div>
                {% endif %}
                <div class="user_link fl">
                    <span>|</span>
                    <a href="/user/user_center_info/">用户中心</a>
                    <span>|</span>
                    <a href="/cart/">我的购物车</a>
                    <span>|</span>
                    <a href="/detail/user_center_order/">我的订单</a>
                </div>


            </div>
        </div>
    </div>


    <div class="search_bar clearfix">
        <a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
        <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;{{ title|default:'用户中心' }}</div>
        <form action="/search/">
            <div class="search_con fr">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                <input type="submit" class="input_btn fr" name="" value="搜索">
            </div>
        </form>
    </div>



        {% block cart %}
            <div class="left_menu_con clearfix">
                <h3>用户中心</h3>
                <ul>
                    <li><a href="/user/user_center_info/" {% if point|default:2 == 1 %}class="active"{% endif %}>·
                        个人信息</a>
                    </li>
                    <li><a href="/detail/user_center_order/" {% if point|default:2 == 2 %}class="active"{% endif %}>·
                        全部订单</a></li>
                    <li><a href="/user/user_center_site/" {% if point|default:2 == 3 %}class="active"{% endif %}>·
                        收货地址</a>
                    </li>
                </ul>
            </div>
           <div class="main_con clearfix">
        {% block content %}

        {% endblock content %}
</div>
        {% endblock cart %}

{% endblock body %}



