{% extends 'usercenter_login_status.html' %}
{% block script %}
    <script>
        $(function () {


            $('.add_goods').click(function () {
                if ({{ request.session.pid }}) {
                    var gid = $(this).attr('gid');
                    $.get('/cart/add' + gid + '_1/', function (data) {

                        var count = data.count;
                        $('.goods_count').html(count);
                    });
                }
                else {
                    $.get('/user/login/');
                }

            });
        });
    </script>
{% endblock %}
{% block content %}

        <div class="right_content clearfix">
            <div class="info_con clearfix">
                <h3 class="common_title2">基本信息</h3>


                <ul class="user_info_list" id="ulist">
                    <li><span>用户名：</span>{{ user_msg.uname }}</li>
                    <li><span>联系方式：</span>{{ user_msg.uphone }}</li>
                    <li><span>联系地址：</span>{{ user_msg.uaddress }}</li>

                </ul>

            </div>

            <h3 class="common_title2">最近浏览</h3>
            <div class="has_view_list">
                <ul class="goods_type_list clearfix">
                    {% for good in glist %}



                        <li>
                            <a href="/good_detail{{ good.id }}"><img src="/static/{{ good.gpic }}"></a>
                            <h4><a href="/good_detail{{ good.id }}">{{ good.gtitle }}</a></h4>
                            <div class="operate">
                                <span class="prize">￥{{ good.gprice }}</span>
                                <span class="unit">{{ good.gprice }}/{{ good.gunit }}</span>

                                {% if request.session.pid %}
                                    <a href="#" gid='{{ good.id }}' class="add_goods" title="加入购物车"></a>
                                {% else %}
                                    <a href="/user/login/" class="add_goods" title="加入购物车"></a>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}


                </ul>
            </div>
        </div>




{% endblock content %}